python is not installed
fastapi==0.112.2
joblib==1.4.2
matplotlib==3.8.4
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pydantic==2.5.3
requests==2.32.2
scikit-learn==1.4.2
seaborn==0.13.2
streamlit==1.40.1
uvicorn==0.30.6
wordcloud is not installed
xgboost is not installed
